*{
    font-family: 'Open Sans', Roboto, Arial, sans-serif;
    color: #0D0D0D;
    font-size: 1rem.;
}

fieldset{
    border-color: #DDDDDD;
    background-color: #F5F5F5;
    max-width: 50rem;
    padding-top: 3em;
}

form legend{
    font-size: 2rem;
    padding: 10px;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: white;
    text-align: center;
    max-width: 30%;
    position: absolute;
    left: 1em;
    bottom: 7.5em;
    z-index: 1;
}

form{
    margin-top: 25px !important;
    width: 50%;
    margin: auto;
    padding-top: 3em;
    position: relative;
    top: 10em;
}

input{
    border-radius: 3px;
    border-color: #DDDDDD;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.box{
    padding-top: 15px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.box:nth-child(1), .box:nth-child(2){
    width: auto;
    padding: 5px;
}

.box:nth-child(3) input{
    max-width: 8em;
    height: 6em;
    border: none;
    height: 3em;
    color: #F5F5F5;
    background-color: #6495ED;
    font-weight: 500;
}

.mes input{
    height: 5em;
}

@media only screen and (max-width: 425px){
    
form legend{
    max-width: 100%;
    bottom: 18rem;
}
    
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
    }
    
fieldset{
    max-width: 25rem; 
    margin: auto;
}
    
form{
    margin-top: 25px !important;
    max-width: 90%;
    right: 8em;
    margin: auto;
}
    
.box:nth-child(3) input{
    max-width: 100%;
}
    
}